<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">

        <!-- Ticket feature -->
        <activity
            android:name=".ui.ticket.TicketDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ticket.MyTicketsActivity"
            android:exported="false" />

        <!-- Seat feature -->
        <activity
            android:name=".ui.seat.SeatListActivity"
            android:exported="false" />

        <!-- Search feature -->
        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="false" />

        <!-- Auth feature -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />

        <!-- Profile feature -->
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />

        <!-- Intro screen -->
        <activity
            android:name=".ui.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main screen -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true" />
    </application>

</manifest>